<.header>New Media Group</.header>

<.group_form
  changeset={@changeset}
  action={~p"/groups"}
  commands={@commands}
  selected_command_ids={@selected_command_ids}
/>

<.link href={~p"/groups"} class="mt-4 inline-block text-zinc-600">← Back to groups</.link>
